html {
  background-color: #2e2929;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial","Consolas","微軟正黑體", sans-serif;
  color: #ffffff;
  background-color: #2e2929;
  width: auto;
  margin: 0 auto;/*外距，控制物件與周圍物件之間的距離*/
  padding: 50px 0px 50px 0px;/*內距，物件邊框(border)內與資料之間的留白空間*/
  border: 3px solid #ffffff;
  display: flex;/*讓內容水平垂直置中*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

/*hide scrollbar*/
html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow: auto;
}

/*去除掉連結的下劃線*/
/*a{text-decoration:none;}*/
a:link{
/*設定還沒有瀏覽過的連結*/
color:#00ccff;
}
a:visited {
/*設定已經瀏覽過的連結*/
color:#c300cd;
}
a:hover {
/*設定滑鼠移經的連結*/
text-decoration:underline;
background-color:#fafafa;
color:#808080;
}
a:active {
/*設定正在點選的連結*/
text-decoration:none;
background-color:#808080;
color:#fafafa;
}

h1 {
  color: #ffffff;
  margin: 0;
  padding: 20px 0;
}
h2 {
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

h3 {
  color: #ffffff;
  margin: 0;
  padding: 20px 0;
}


h4 {
  color: #ffffff;
  margin: 0;
  padding: 20px 0;
}

h5 {
  color: #ffffff;
  margin: 0;
  padding: 20px 0;
}

h6 {
  color: #ffffff;
  margin: 0;
  padding: 20px 0;
}

.education-section {
  margin-bottom: 20px;
}
.major {
  font-weight: bold;
}
.details {
  margin-left: 20px;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: #696969;
  z-index: 48763;
  position: fixed;
  bottom: -100px;/* 初始位置在畫面下方 */
  right: 20px;
  transition: bottom 0.5s ease;/* 過渡效果 */
}

.box {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(-666%);/*向右移動666%，預設為0*/
  transition: transform 1s ease;
  background-color: #3498db;
}

.box.show {
  transform: translateX(0);
}

img {
  display: block;
  margin: 0 auto;
}